.BadgeEdit__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }

.Container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Container__register {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.BadgeEdit__hero-image {
  max-height: 100px;
}

.Container__register-Badge {
  margin: 30px;
}

.Container__register-BadgeForm {
 margin: 30px;
 width: 350px;
}
